#hero{
    height:100vh;
    background-image: url('/img/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
}
#hero-content{
    height:100vh;
    width:70%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#hero-content div:last-child{
    justify-content: flex-end;
    position: relative;
}
#hero-content p{
    font-size:12px;
}
#mouse{
    animation-name: restlessMouse;
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes restlessMouse{
    0% {
        transform: translate(0, 0)
    }
    100%{
        transform: translate(0,100px)
    }
}

#about{
    text-align: center;
    margin-top:40px;
    /* text-align-last: center; */
}
