/* html{
    scroll-behavior: smooth;
} */
#hero{
    height:100vh;
    background-image: url('/img/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
}
#hero-content{
    height:100vh;
    width:70%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#hero-content div:last-child{
    justify-content: flex-end;
    position: relative;
}
#hero-content p{
    font-size:12px;
}
#mouse{
    animation-name: restlessMouse;
    animation-duration: .5s;
    animation-timing-function:ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}
#mouse:hover{
    animation-play-state: paused;
}

@keyframes restlessMouse{
    0% {
        transform: translate(0, 0)
    }
    100%{
        transform: translate(0,100px)
    }
}

#about{
    text-align: center;
    margin-top:40px;
}
#services{
    display:flex;
    background-image: url("/img/backgrounds/s_image.jpg");
    text-align: center;
    color:white;
    background-position: center;
    background-size: cover;
    min-height:400px;
    flex-direction: column;
    justify-content: center;
}
#service-display{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}
#service-display div{
    min-width:33.3%;
 }
.description{
    display:none;
}
#portfolio{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
}
.show-case{
    position: relative;
    width:250px;
    height:250px;
    margin:auto;
}
.show-case-img{
    width:100%; 
    height:auto;
    opacity: 1;
    backface-visibility: hidden;
}
.cover{
    background-color: transparent;
    width:250px;
    height: 207px;
    position: absolute;
}
.portfolio-desc{
 position: absolute;
 top:40%;
 left:50%;
 text-align: center;
 transform: translate(-50%, -50%);
 opacity: 0;
 transition: 0.7s ease;
 border:5px solid white;
}
.port-desc-text{
    color:white;
    font-size: 30px;
    padding:10px;

}
.show-case:hover .cover {
    background-color: rgba(0,0,0,0.9);
}
.show-case:hover .show-case-img{
    opacity:0.3;
}
.show-case:hover .portfolio-desc{
    opacity:1
}

#contact{
    min-height:400px;
    background-image: url("/img/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
}
input[type="submit"]{
    margin-top: 5px;
    color: #fff;
    background-color: #CA7C29;

}
input[type="submit"]:hover{
    background-color: #D69A38;
}

#social{
    margin:30px;
    text-align: center;
}
.social-icon{
    cursor: pointer;
}
@media (max-width:596px){
    #service-display{
        display:flex;
        flex-direction: column;
    }
}
